<div class="container">
    <ng-container *ngIf="!isEditting">
        <div class="view-container">
            <ng-container *ngIf="editAction === 'click'">
                <span class="plain-text" [ngStyle]="textStyle" (click)="editMode()">{{ text }}</span>
            </ng-container>
            <ng-container *ngIf="editAction === 'button'">
                <span class="plain-text" [ngStyle]="textStyle">{{ text }}</span>
                <button mat-icon-button (click)="editMode()">
                    <mat-icon fontIcon="edit" class="edit-icon" matTooltip="Edit task"></mat-icon>
                </button>
            </ng-container>
        </div>
    </ng-container>
    <ng-container *ngIf="isEditting">
        <div class="edition-container">
            <input
                #editInput
                [value]="text"
                type="text"
                (change)="onValueChange($event)"
                (keydown.enter)="onEnterKey($event)"
            />
            <button mat-icon-button (click)="viewMode()">
                <mat-icon fontIcon="check"></mat-icon>
            </button>
        </div>
    </ng-container>
</div>
