.view-container {
    padding: 10px;
    
    :hover {
        background-color: #f7f2f2;
        cursor: pointer;
    }
}

.edition-container {
    display: flex;
    background-color: #e7e3e3;
    width: fit-content;
    border-radius: 15px;
    padding: 5px 10px;

    input {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: inherit;
        font-weight: inherit;
    }

    button {
        align-self: center;
    }
}