/* You can add global styles to this file, and also import other style files */

// Angular Material Theme
@import '@angular/material/prebuilt-themes/indigo-pink.css';

// Angular Material Typography
@import '@angular/material/theming';

// Material Icons
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Roboto Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// Global styles
html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}
