.list-items {
    ul {
        list-style: none;
    }
}

card-actions {
    div {
        display: flex;
        gap: 4em;
        margin-top: 16px;
        justify-content: flex-start;
        padding-left: 1em;
    }
}